= content_tag_for(:tr, employee) do
  %td= link_to employee.id, employee_path(employee)
  %td= employee.firstname
  %td= employee.name
  %td= employee.phone
  %td= employee.email
  %td= employee.location
  %td
    - employee.memberships.each do |membership|
      %p
        =link_to membership.department.name, department_path(membership.department)
        = "-"
        =membership.role
  %td#edit
    =link_to edit_employee_path(employee), class: "btn btn-default" do
      Bearbeiten
    =link_to employee, class: "btn btn-default", data: {confirm: "Wollen Sie diesen Datensatz wirklich löschen?"}, method: :delete do
      Löschen
