.panel.panel-default
	.panel-heading Mitarbeiter
	.panel-body
		%label{:for => "search"}
			Suche:
			%input#exampleInputPassword1.form-control{:placeholder => "Suchen", :type => "text"}
			%input.btn.btn-default{:type => "submit", :value => "Suche"}
				= link_to new_employee_path, class: "btn btn-default" do
					Create new Employee
	%table.table
		%thead
			%tr
				%th= sort_link(@q, :id, 'ID', default_order: :asc)
				%th= sort_link(@q, :firstname, 'Vorname')
				%th= sort_link(@q, :name, 'Nachname')
				%th= sort_link(@q, :phone, 'Telefonnummer')
				%th= sort_link(@q, :email, 'E-Mail')
				%th= sort_link(@q, :location, 'Standort')
				%th= "Funktion"
				%th= ""
		- @employees.each do |employee|
			%tr
				%td= link_to employee.id, employee_path(employee)
				%td= employee.firstname
				%td= employee.name
				%td= employee.phone
				%td= employee.email
				%td= employee.location
				%td 
					- employee.memberships.each do |membership|
						%p
							=link_to membership.department.name, department_path(membership.department) 
							= "-"
							=membership.role
				%td
					=link_to edit_employee_path(employee), class: "btn btn-default" do
						Edit
					=link_to employee, class: "btn btn-default", confirm: 'Wollen Sie diesen Datensatz wirklich löschen?', method: :delete do
						Delete				