.panel.panel-default
	.panel-heading Mitarbeiter
	.panel-body
		%label{:for => "search"}
			Suche:
			%input#exampleInputPassword1.form-control{:placeholder => "Password", :type => "password"}
			%input.btn.btn-default{:type => "submit", :value => "Suche"}
	%table.table
		%thead
			%tr
				%th= sort_link(@q, :id, 'ID', default_order: :asc)
				%th= sort_link(@q, :firstname, 'Vorname')
				%th= sort_link(@q, :name, 'Nachname')
				%th= sort_link(@q, :phone, 'Telefonnummer')
				%th= sort_link(@q, :email, 'E-Mail')
				%th= sort_link(@q, :location, 'Standort')
				%th= "Funktion"
		- @employees.each do |employee|
			%tr
				%td= link_to employee.id, employee_path(employee)
				%td= employee.firstname
				%td= employee.name
				%td= employee.phone
				%td= employee.email
				%td= employee.location
				%td 
					- employee.memberships.each do |membership|
						=link_to membership.department.name, department_path(membership.department) 
						= "-"
						=membership.role