.panel.panel-default
	.panel-heading 
		Mitarbeiter
		= search_form_for @q do |f|
			= f.search_field :id_or_name_or_firstname_or_email_or_phone_or_location_cont
			%input.btn.btn-default{:type => "submit", :value => "Suche"}
			=link_to new_employee_path, class: "btn btn-default" do
				Neuen Mitarbeiter erstellen
			= link_to new_membership_path, class: "btn btn-default" do
				Neue Funktion erstellen
	.panel-body
	%table.table
		%thead
			%tr
				%th= sort_link(@q, :id, 'ID', default_order: :asc)
				%th= sort_link(@q, :firstname, 'Vorname')
				%th= sort_link(@q, :name, 'Nachname')
				%th= sort_link(@q, :phone, 'Telefonnummer')
				%th= sort_link(@q, :email, 'E-Mail')
				%th= sort_link(@q, :location, 'Standort')
				%th= "Funktion"
				%th= ""
		- @employees.each do |employee|
			%tr
				%td= link_to employee.id, employee_path(employee)
				%td= employee.firstname
				%td= employee.name
				%td= employee.phone
				%td= employee.email
				%td= employee.location
				%td 
					- employee.memberships.each do |membership|
						%p
							=link_to membership.department.name, department_path(membership.department) 
							= "-"
							=membership.role
				%td
					=link_to edit_employee_path(employee), class: "btn btn-default" do
						Bearbeiten
					=link_to employee, class: "btn btn-default", data: {confirm: "Wollen Sie diesen Datensatz wirklich löschen?"}, method: :delete do
						Löschen
.pagination-center
	= paginate @employees, :theme => 'twitter-bootstrap-3'
	.pagination-info
		= page_entries_info @employees