- content_for :title, "Neuer Mitarbeiter"
%h1 Neuer Mitarbeiter
= bootstrap_form_for(@employee) do |f|
	%p
		= f.text_field :firstname, placeholder: "Max"
	%p
		= f.text_field :name, placeholder: "Mustermann"
	%p
		= f.text_field :phone, placeholder: "123456789"
	%p
		= f.text_field :email, placeholder: "max.mustermann@example.com"
	%p
		= f.text_field :location, placeholder: "Musterland"
	%p
		= f.submit