%h1 Details
%p
	%b ID:
	= @employee.id
%p
	%b Vorname:
	= @employee.firstname
%p
	%b Nachname:
	= @employee.name
%p
	%b Telefonnummer:
	= @employee.phone
%p
	%b E-mail:
	= @employee.email
%p
	%b Standort:
	= @employee.location
%p
	%b Funktion:
	= @employee.function
%p
	%b Abteilung:
	= @employee.department.name
