%h1 Details
%p
	%b ID:
	= @employee.id
%p
	%b Vorname:
	= @employee.firstname
%p
	%b Nachname:
	= @employee.name
%p
	%b Telefonnummer:
	= @employee.phone
%p
	%b E-mail:
	= @employee.email
%p
	%b Standort:
	= @employee.location
%p
	%b 
		Funktion:
	- @employee.memberships.each do |membership|
		%p
			=link_to membership.department.name, department_path(membership.department) 
			= "-"
			=membership.role
= link_to employees_path, class: "btn btn-default" do
	Back to index
