%h1 Details
%p
	%b ID:
	= @department.id
%p
	%b Name:
	= @department.name
= link_to departments_path, class: "btn btn-default" do
	Zurück zum Index

.panel.panel-default
	.panel-heading
		Mitarbeiter dieser Abteilung
		%button.btn.btn-default{:type => "button", :id => "slide"} Ausklappen
	#hidden.panel-body
		%table.table
			%thead
				%tr
					%th= "ID"
					%th= "Vorname"
					%th= "Nachname"
					%th= "Telefonnummer"
					%th= "E-Mail"
					%th= "Standort"
					%th= "Funktion"
				- @department_employees.each do |employee|
					%tr
						%td= link_to employee.id, employee_path(employee)
						%td= employee.firstname
						%td= employee.name
						%td= employee.phone
						%td= employee.email
						%td= employee.location
						%td
							- employee.memberships.each do |membership|
								%p
									=link_to membership.department.name, department_path(membership.department)
									= "-"
									=membership.role
